body{
  margin:0;
  font-family:Arial;
  background:#02152d;
  color:white;
}

header{
  background:#01111f;
  padding:20px;
  text-align:center;
}

nav a{
  color:white;
  margin:15px;
  text-decoration:none;
}

.hero{
  text-align:center;
  padding:80px 20px;
}

.hero h2{
  color:#00d9ff;
}

.cards{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  padding:20px;
}

.card{
  width:300px;
  background:#0c2846;
  margin:20px;
  padding:30px;
  border-radius:20px;
  box-shadow:0 0 20px rgba(0,217,255,.3);
}

footer{
  text-align:center;
  padding:30px;
}
